= render 'shared/header'
.default.container
  %main.u_container
    .content
      %section.chapter-container
        %h2.chapter-head プロフィール
        %form{action: "https://www.mercari.com/jp/mypage/profile/", method: "POST"}
          %input{name: "__csrf_value", type: "hidden", value: "ff03575aa5012898b47020d66569fc42d70abf5a0655aa9e316d21f12b65dbb999be5ef29f553e0acbd5d943c7810430ce42b6727c171eb4c628d5d68b4c91927"}/
        .setting-profile-icon
          %figure.user-icon
            = image_tag '//static.mercdn.net/images/member_photo_noimage_thumb.png', alt: '', height: '60', width: '60', class: 'user-icon'
            %input.input-default{name: "nickname", placeholder: "例)AYA☆セール中", type: "text", value: "sato"}/
        .setting-profile-content
          %textarea.textarea-default{name: "introduction", placeholder: ""}
          %input{name: "after_save_callback", type: "hidden", value: "https://www.mercari.com/jp/mypage/profile/"}/
          %button.btn-default.btn-red{type: "submit"} 変更する

    = render 'shared/side_bar'
= render 'shared/footer'