.contents
  .contents-header__category
    %h2.category__title 人気のカテゴリー
    .contents-header__category__items
      %ul.items-header
        %li.items__a
          %a.a レディース
        %li.items__b
          %a.b メンズ
        %li.items__c
          %a.c 家電・スマホ・カメラ
        %li.items__d
          %a.d おもちゃ・ホビー・グッズ
  .contents-items

  
  .contents-heder__brand
    .bland-title
      人気のブランド
    .bland-lists
      シャネル
      ルイヴィトン
      シュプリーム
      ナイキ

  .contents-items__brand