.footer-links
  .footer-links-contents
    .links-nav
      .links-nav1 スマホでかんたんフリマアプリ
      .links-nav2 今すぐ無料ダウンロード！
      .links-box
        %img.links-logo{alt: "", src:"https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}/
        .sc-jGxEUC.brEXMU{href: "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank"}
          %img.links-apple{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
        .sc-jGxEUC.brEXMU{href: "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank"}
          %img.links-google{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
    %figure.sc-fkyLDJ.hEEDMy
      %img.links-picture{alt: "", src: "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/

%footer.footer
  %nav.footer__nav
    %li.footer-menu
      %h2.footer-menu__title
        メルカリについて
        .sc-yZwTr
          .footer-menu__list
            会社概要（運営会社）
          .footer-menu__list
            採用情報
          .footer-menu__list
            プレスリリース
          .footer-menu__list
            公式ブログ
          .footer-menu__list
            メルカリロゴ利用ガイドライン
      %li.footer-menu2
        %h2.footer-menu__title
          ヘルプ&ガイド
          .sc-yZwTrr
            .footer-menu__list
              メルカリガイド
            .footer-menu__list
              らくらくメルカリ便
            .footer-menu__list
              ゆうゆうメルカリ便
            .footer-menu__list
              大型メルカリ便
            .footer-menu__list
              車体取引ガイド
            .footer-menu__list
              メルカリあんしん・あんぜん宣言！
            .footer-menu__list
              偽ブランド品撲滅への取り組み
            .footer-menu__list
              メルカリボックス
      %li.footer-menu3
        %h2.footer-menu__title
          プライバシーと利用規約
          .sc-cqPOvA
            .sc-gNJABI
              .footer-menu__list
                プライバシーポリシー
              .footer-menu__list
                メルカリ利用規約
              .footer-menu__list
                あんしんスマホサポート制度に関する利用特約
              .footer-menu__list
                コンプライアンスポリシー
        .sc-cqPOvAA
          .sc-gNJABI
            .footer-menu__list
              ゆうゆうメルカリ便とは
            .footer-menu__list
              大型らくらくメルカリ便とは
            .footer-menu__list
              車体取引ガイド
            .footer-menu__list
              返品・返金ポリシー
              
      %li.footer-menu4
        %h2.footer-menu__title
          国
          .footer-menu__list2
            = link_to "日本"
          .footer-menu__list2
            = link_to "United States"

      .sc-ghsgMZ.eGYuqF
        %i.fas.fa-box-open{style: "font-size: 20px; height: 31px; float: left;"}
          freemarket
          %p.footer__copyright
            %small
              &copy; freema