.footer-picture
    .footer-picture__left
        .footer-picture-text__top
        .footer-picture-text__below
        .footer-picture-logoandlink
            .footer-picture-logo
            .footer-picture-link__left
            .footer-picture-link__right

    .footer-picture__right

.footer