-# .footer-picture
-#   .footer-piture__a
-#   = image_tag "footer.jpeg", width: "100%", height: "290"

.footer-pic__container
  .icon
  .footer-pic__box-big
    .footer-pic__box__small
      .footer-left
        .footer-pictext__below
        .footer-pictext__under
        .footer-icons
          .footer-pic__logo
          .footer-pic__link
            .AppStore %img(src="" alt="")/
          .footer-pic__link
            .GooglePlay %img(src="" alt="")/
      .footer-right
        %img(src="" alt="")/
