-# .footer-picture
-#   .footer-piture__a
-#   = image_tag "footer.jpeg", width: "100%", height: "290"

-# .footer-pic__container
-#   .icon
-#   .footer-pic__box-big
-#     .footer-pic__box__small
-#       .footer-left
-#         .footer-pictext__below
-#         .footer-pictext__under
-#         .footer-icons
-#           .footer-pic__logo
-#           .footer-pic__link
-#             .AppStore %img(src="" alt="")/
-#           .footer-pic__link
-#             .GooglePlay %img(src="" alt="")/
-#       .footer-right
-#         %img(src="" alt="")/

.sc-hMrMfs.gCawSR.sc-kkbgRg.dIKScy
  .sc-hRmvpr.fdRJU
    .sc-cZBZkQ.jshFbZ
      .sc-ecaExY.lmjtQL スマホでかんたんフリマアプリ
      .sc-gbzWSY.feyzWR 今すぐ無料ダウンロード！
      .sc-jqIZGH.lYxAQ
        %img.sc-jMMfwr.coFGNj{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}/
        .sc-jGxEUC.brEXMU{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
          %img.sc-jdeSqf.sc-cBrjTV.jmAUfl{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
        .sc-jGxEUC.brEXMU{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", :target => "_blank"}
          %img.sc-jdeSqf.sc-iCwjlJ.evFjFu{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
    %figure.sc-fkyLDJ.hEEDMy
      %img.sc-jUpvKA.eTbLfZ{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/

