.container
  .header
    .header-top
      %header-top__logo
        = image_tag "logo_red.svg", width: "134", height: "36"
      %form.header-top__search__form{action: ""}
        %input.header-top__search__input{name: "keyword",placeholder: "何かお探しですか？",type: "search",value: ""}
        %i.icon-search


    .header-lists
      %ul.header-lists__left
        %li.lists-menu__categories
          .lists-menu__categories__text{href: ""}
            -# %svg.lists-menu__icon 
            カテゴリーから探す      
        %li.lists-menu__brands
          .lists-menu__brands__text{href: ""}
            -# %svg.lists-menu__icon
            ブランドから探す
      %ul.header-lists__right
        %li.lists-menu__sighin
          .lists-menu__sighin_btn{href: ""} 新規会員登録
        %li.lists-menu__sighup
          .list-menu__sighup_btn{href: ""} ログイン
