.items-box
  .items-box2
    .items-box-photo
      = image_tag @items.each do |item|
        puts item
        = image_tag item.images.first.image.url,width: “187”,height: “200”
      .price
        = @items.price 

      images[0].image.url
      = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
    .items-box-body
      %h3.items-box-name.font-2 ワンオク ボディバッグ

.items-box-w
  .items-box2
    .items-box-photo
      -# = image_tag @items.each do |item|
      -#   puts item
      -#   = image_tag item.images.first.image.url,width: “187”,height: “200”
      .price
        -# = @items.price 

      -# images[0].image.url
      -# = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
    .items-box-body
      %h3.items-box-name.font-2 ワンオク ボディバッグ      

.items-box-ww
  .items-box2
    .items-box-photo
      -# = image_tag @items.each do |item|
      -#   puts item
      -#   = image_tag item.images.first.image.url,width: “187”,height: “200”
      .price
        -# = @items.price 

      -# images[0].image.url
      -# = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
    .items-box-body
      %h3.items-box-name.font-2 ワンオク ボディバッグ 
    
.items-box-w2
  .items-box2
    .items-box-photo
      -# = image_tag @items.each do |item|
      -#   puts item
      -#   = image_tag item.images.first.image.url,width: “187”,height: “200”
      .price
        -# = @items.price 

      -# images[0].image.url
      -# = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
    .items-box-body
      %h3.items-box-name.font-2 ワンオク ボディバッグ

.items-box-ww2
  .items-box2
    .items-box-photo
      -# = image_tag @items.each do |item|
      -#   puts item
      -#   = image_tag item.images.first.image.url,width: “187”,height: “200”
      .price
        -# = @items.price 

      -# images[0].image.url
      -# = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
    .items-box-body
      %h3.items-box-name.font-2 ワンオク ボディバッグ   

.items-box-w3
  .items-box2
    .items-box-photo
      -# = image_tag @items.each do |item|
      -#   puts item
      -#   = image_tag item.images.first.image.url,width: “187”,height: “200”
      .price
        -# = @items.price 

      -# images[0].image.url
      -# = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
    .items-box-body
      %h3.items-box-name.font-2 ワンオク ボディバッグ

.items-box-ww3
  .items-box2
    .items-box-photo
      -# = image_tag @items.each do |item|
      -#   puts item
      -#   = image_tag item.images.first.image.url,width: “187”,height: “200”
      .price
        -# = @items.price 

      -# images[0].image.url
      -# = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
    .items-box-body
      %h3.items-box-name.font-2 ワンオク ボディバッグ    

.items-box-w4
  .items-box2
    .items-box-photo
      -# = image_tag @items.each do |item|
      -#   puts item
      -#   = image_tag item.images.first.image.url,width: “187”,height: “200”
      .price
        -# = @items.price 

      -# images[0].image.url
      -# = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
    .items-box-body
      %h3.items-box-name.font-2 ワンオク ボディバッグ

.items-box-ww4
  .items-box2
    .items-box-photo
      -# = image_tag @items.each do |item|
      -#   puts item
      -#   = image_tag item.images.first.image.url,width: “187”,height: “200”
      .price
        -# = @items.price 

      -# images[0].image.url
      -# = image_tag 'itemomage.jpeg', size: "188x188", class: "lazyloaded", alt: "ワンオク ボディバッグ"
    .items-box-body
      %h3.items-box-name.font-2 ワンオク ボディバッグ                 