.bread-crumbs {
  position: relative;
  border-top: 1px solid #eee;
  background: #f5f5f5;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  margin: 0 8px;
  font-size: 9px;
  color: #888;
  margin-left: 0px;
  margin-right: 0px;
  height: 51px;
  padding-top: 20px;
  margin: 0 8px;
  font-size: 9px;
  color: #888;
}

.bread-crumbs ul {
  overflow: visible;
  width: 700px;
  margin: 0 auto;
  padding: 16px 0;
  white-space: normal;
  margin-left: 100px;
}

.bread-crumbs li {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
}

.bread-crumbs li:last-child {
  font-weight: 600;
}

.bread-crumbs a {
  color: #333;
}

.icon-arrow-right {
  margin: 0 8px;
  font-size: 9px;
  color: #888;
}

nav ul {
  list-style: none;
}

a {
  color: #0099e8;
  text-decoration: none;
}

i[class^='icon-'], i[class*='icon-'] {
  display: inline-block;
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l-chapter-head {
  font-size: 24px;
  padding: 8px 24px;
  font-weight: 700;
}

.l-chapter-head {
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
}

h2 {
  font-size: 22px;
  line-height: 1.4;
}

.l-content {
  float: right;
  width: 700px;
}

.l-chapter-container {
  position: absolute;
  top: 85px;
  left: auto;
  right: 100px;
  width: 700px;
  background: #fff;
}

.l-single-inner.registration-form {
  padding: 40px 40px 64px;
  border-top: 1px solid #f5f5f5;
  margin: 0 auto;
  height: 531px;
}

.l-single-content {
  margin: 0 auto;
  width: 343px;
  height: 407px;
}

.registration-form {
  padding: 40px 40px 64px;
}

.form-group label {
  font-weight: 600;
}

.form-group .input-default {
  width: 100%;
  margin: 8px 0 0;
}

.form-group:first-child {
  margin: 0;
}

.form-group {
  margin: 8px 0 0;
}

.select-wrap {
  position: relative;
  background: #fff;
  margin: 8px 0 0;
}

label {
  display: inline-block;
}

.form-arbitrary, .message-is-seller, .news-private {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.has-error-text {
  color: #ea352d;
  line-height: 1.5;
  font-size: 14px;
}

ul, ol {
  list-style: none;
}

ul, li {
  display: inline;
}

.signup-card-list {
  margin: 8px 0 0;
  font-size: 0;
}

.signup-card-list li {
  display: inline-block;
  vertical-align: middle;
}

.signup-card-list li:first-child {
  margin: 0;
}

.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.l-single-inner.registration-form .form-group:not(:first-of-type), .l-single-inner.registration-form .btn-red {
  margin-top: 32px;
}

.l-single-inner.registration-form .form-group:not(:first-of-type), .l-single-inner.registration-form .btn-red {
  margin: 24px 0 0;
}

.form-require {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.form-arbitrary, .message-is-seller, .news-private {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.signup-form-expire .select-wrap.half {
  display: inline-block;
  width: calc(50% - 2px);
}

.signup-form-expire .select-wrap select {
  width: calc(100% - 38px);
}

.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.signup-seqcode-text {
  color: #0099e8;
  text-align: right;
  font-size: 14px;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}