.footer {
    width: 1265px;
    padding-left: 20px;
    padding-right: 20px;
    height: 379px;
    padding-bottom: 10px;
  // width: 1225px;
  // padding-left: 20px;
  // padding-right: 20px;
  // padding-bottom: 10px;
  // padding-top: 0px;
  background: #212121;
  color: white;
  // text-align: center;
  &__nav {
    margin: 0 auto;
    width: 1020px;
    height: 298px;
    // height: 296px;
    // margin-left: 100px;
    // margin-left: 80px;
    // margin-right: 80px;
    // width: 1020px;
    font-size: 12px;
    .footer-menu {
      width: 204px;
      height: 241px;
      padding: 0 40px 0 0;
      margin-top: 18px;
      // padding-right: 40px;
      text-align: left;
      // margin-top: 19px;
      display: inline-block;
      // width: 23%;
      vertical-align: top;
      &:first-child {
        padding: 0 20px 0 0;
      }
      &:last-child {
        display: inline-block;
        // width: 23%;
        // margin: 0;
        vertical-align: top;
      }
      &__title {
        height: 22px;
        width: 184px;
        font-size: 16px;
        font-weight: bold;
      }
      a {
        color: white;
      }
      &__list {
        margin-top: 16px;
        // margin: 16px 0 0;
        font-size: 12px;
        &:first-child {
          // margin: 24px 0 0;
          font-size: 12px;
        }
        .lang-menu-non-active {
          opacity: 0.3;
        }
        .lang-menu-icon {
          width: 22px;
        }
        a {
          display: block;
        }
        a:hover {
          text-decoration: underline;
        }
        img {
          margin: 0 3px 0 0;
        }
      }
    }
    .footer-menu2 {
      width: 230px;
      height: 298px;
      padding: 0 40px 0 0;
      margin-top: 18px;
      // padding-right: 40px;
      text-align: left;
      // margin-top: 19px;
      display: inline-block;
      // width: 23%;
      vertical-align: top;
      &:first-child {
        padding: 0 20px 0 0;
      }
      &:last-child {
        display: inline-block;
        // width: 23%;
        // margin: 0;
        vertical-align: top;
      }
      &__title {
        height: 22px;
        width: 184px;
        font-size: 16px;
        font-weight: bold;
      }
      a {
        color: white;
      }
      &__list {
        margin-top: 16px;
        // margin: 16px 0 0;
        font-size: 12px;
        &:first-child {
          // margin: 24px 0 0;
          font-size: 12px;
        }
        .lang-menu-non-active {
          opacity: 0.3;
        }
        .lang-menu-icon {
          width: 22px;
        }
        a {
          display: block;
        }
        a:hover {
          text-decoration: underline;
        }
        img {
          margin: 0 3px 0 0;
        }
      }
    }
    .footer-menu3 {
      width: 390px;
      height: 166px;
      padding: 0 40px 0 0;
      margin-top: 18px;
      // padding-right: 40px;
      text-align: left;
      // margin-top: 19px;
      display: inline-block;
      // width: 23%;
      vertical-align: top;
      &:first-child {
        padding: 0 20px 0 0;
      }
      &:last-child {
        display: inline-block;
        // width: 23%;
        // margin: 0;
        vertical-align: top;
      }
      &__title {
        height: 22px;
        width: 184px;
        font-size: 16px;
        font-weight: bold;
      }
      a {
        color: white;
      }
      &__list {
        margin-top: 16px;
        // margin: 16px 0 0;
        font-size: 12px;
        &:first-child {
          // margin: 24px 0 0;
          font-size: 12px;
        }
        .lang-menu-non-active {
          opacity: 0.3;
        }
        .lang-menu-icon {
          width: 22px;
        }
        a {
          display: block;
        }
        a:hover {
          text-decoration: underline;
        }
        img {
          margin: 0 3px 0 0;
        }
      }
    }
    .footer-menu4 {
      width: 140px;
      height: 241px;
      padding: 0 40px 0 0;
      margin-top: 18px;
      // padding-right: 40px;
      text-align: left;
      // margin-top: 19px;
      display: inline-block;
      // width: 23%;
      vertical-align: top;
      &:first-child {
        padding: 0 20px 0 0;
      }
      &:last-child {
        display: inline-block;
        // width: 23%;
        // margin: 0;
        vertical-align: top;
      }
      &__title {
        height: 22px;
        width: 184px;
        font-size: 16px;
        font-weight: bold;
      }
      a {
        color: white;
      }
      &__list {
        margin-top: 16px;
        // margin: 16px 0 0;
        font-size: 12px;
        &:first-child {
          // margin: 24px 0 0;
          font-size: 12px;
        }
        .lang-menu-non-active {
          opacity: 0.3;
        }
        .lang-menu-icon {
          width: 22px;
        }
        a {
          display: block;
        }
        a:hover {
          text-decoration: underline;
        }
        img {
          margin: 0 3px 0 0;
        }
      }
    }
  }
  &__logo {
    display: block;
    // margin: 40px 0 0;
    text-align: center;
    .footer__logo--image {
    //  width: 124px;
    //  height: 33px;
    }
  }
  &__copyright {
    margin: 8px 0 0;
    text-align: center;
    line-height: 1;
    float: right;
    font-size: 18px;
    margin-top: 7px;
    width: 700px;
  }
}

.sc-ghsgMZ.eGYuqF {
  width: 1020px;
  height: 31px;
  margin: 30px 80px 20px 100px;
}

.sc-cqPOvA {
  width: 200px;
  height: 128px;
  padding-right: 10px;
}

.sc-gNJABI {
  height: 128px;
  width: 160px;
}

.sc-cqPOvAA {
  padding-left: 190px;
  font-weight: bold;
}

.sc-yZwTr {
  opacity: 0.5;
}

.sc-yZwTrr {
  opacity: 0.5;
}

.sc-gNJABI {
  opacity: 0.5;
}

.footer-menu__list2 {
  margin-top: 16px;
  font-size: 12px;
  opacity: 0.5;
}
