%body
  .exhibit-body
    .exhibit__container
      = render 'items/sell-header'
      .info-main
        .info-content
          %h2.info-content__head 購入完了
          .form-gorup
          .success-text
            .success-test
              .success-top ありがとうございます。
              .success-bottom 購入が完了しました。
            .actions
              =  link_to('トップページへ戻る',root_path, {class: "btn-red-success"})
              .actions-space
      = render partial: 'items/sell-footer'