-# .pc-header
-#   .pc-header-inner
-#     .pc-header-top
-#       %div
-#         %a{:href => ""}
-#           %img{alt: "mercari", height: "36", src: "images/mercari_logo.png", width: "134"}/
-#         %form.pc-header-form{:action => ""}
-#           %input.input-default{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
-#           %i.icon-search