= render 'shared/header'

.header-slide
  .first-slide 
    -# %img{src: "/assets/img_slidecamp.png" align="center"}  
  .second-slide
.slide-button-prev
.slide-button-next
.slide-paginate

= render 'shared/contents'

= render 'shared/sell-button'

= render 'shared/footer'