.login-input-phone_number{
  height: 50px;
  width: 350px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
.form-info_phone_number{
width: 330px;
margin-left: auto;
margin-right: auto;
font-size: 14px;
margin-top: 10px;
}

.submit-info_phone_number{
  font-size:14px;
  margin-top: 10px;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
}