

//--------------会員情報入力ページ(海老原)--------------------------------------
.wrapper-member-info {
    height: 100%;
    background: #f2f2f2;
    
  }
  
  
    .signup-page-header {
      height: 128px;
      text-align: center;
      .personal-entry__header {
        display: flex;
        justify-content: center;
        a {
          width: 185px;
          height: 49px;
          line-height: 49px;
          img {
            margin: 40px 0 0;
            width: 185px;
            height: 49px;
          }  
        }
      }
      // 
      .progress{
        margin-top: 45px;
      }

      .progress-upper{
        display: flex;
        font-size: 12px;
      }

      .progress_upper_title{
        margin-right: 40px;
      }

      .progress_upper_title__red{
        color: #EA352D;
        margin-right: 40px;
      }

      .progress_upper_title__long {
        margin-right: 50px;
      }

      .progress_upper_title__long__red{
        color: #EA352D;
        margin-right: 50px;
      }
      .progress_upper_title__short{
        margin-right: 30px;
      }
      .progress_upper_title__short__red{
        color: #EA352D;
        margin-right: 30px;
      }

      .progress_upper_title__longer{
        margin-right:65px ;
      }
      .progress_upper_title__longer__red{
        color: #EA352D;
        margin-right: 65px;
      }

      .progress__lower{
        display: flex;
        margin-top: 5px;
        padding-left: 18px;
      }
      .progress_lower_circle{
        width: 12px;
        height: 12px;
        border-radius: 12px 12px 12px 12px ;
        background-color:  #ccc;
      }
      .progress_lower_circle__red{
        width: 12px;
        height: 12px;
        border-radius: 12px 12px 12px 12px ;
        background-color: #EA352D;
      }
      .progress_lower_bar{
        width: 100px;
        height: 3px;
        background-color:  #ccc;
        margin-top: 5px;
      }
      .progress_lower_bar__red{
        width: 100px;
        height: 3px;
        background-color: #EA352D;
        margin-top: 5px;
      }
    
  }
  




// -------------------------------------------------------------------------
.forth-main-wrapper__box{
  margin: 0 auto;
  width: 350px;
}
.info-content{
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  &__head{
    font-size: 22px;
    padding: 32px;
    text-align: center;
    line-height: 1.5;
    border-bottom: #ccc inset thin;
  }
  .field.main-content2{
    // text-align:center;
    margin: 0 auto;
    .form-group{
      margin-top:30px;
      .form-require{
        background-color: #ea352d;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
      }
      .input-default{
        height: 50px;
        width: 350px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      .login-input-text{
        height: 50px;
        width: 350px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      .l-single-text{
        width: 330px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
      }
    }
  }
}

.aaa{
  display: flex;
  margin-left: auto;
  margin-right: auto;

}



.login-input-text-content{
  height: 30px;
  width: 145px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  display:inline-block;
}
.form-group label {
  font-weight: 600;
  
}




.form-group__birth{
  margin-top: 30px;

  .form-require{
    background-color: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    }
}

.form-info-text{
  font-size:14px;
  
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  color: #ccc;
}

.actions{
  .btn-red-success{
    background-color: #ea352d;
    color: #fff;
    line-height: 60px;
    width: 350px;
    margin-top:30px;
    margin-bottom: 60px;
  }
}
.btn-red{
  background-color: #ea352d;
  color: #fff;
  line-height: 60px;
  width: 350px;
  margin-top:30px;
  margin-bottom: 30px;
}

.div select{
  height: 50px;
  width: 80px;
  background-color: white;
}


.login-input-text-content-right{
  height: 50px;
  width: 170px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  display:inline-block;
  
}

.login-input-text-content-left{
  height: 50px;
  width: 170px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  display:inline-block;
  margin-right: 5px;
}

.info{
  color: #888;
  margin-top: 5px;
  font-size: 14px;
}

.checkbox{
  margin-top: 10px;
}

.links{
  margin-top: 30px;
  margin-bottom: 30px;
}

// done
.success-text{
  text-align: center;
  .success-top{
    margin-top: 70px;
  }
  
}
.btn-red-success{
  background-color: #ea352d;
  color: #fff;
  font-size: 20px;
  line-height: 60px;
  width: 350px;
  padding: 18px 60px;
  margin-top:30px;
  margin-bottom: 60px;
}
.success-test{
  margin-bottom: 50px;
}
.actions-space{
  height: 60px;
}


.select-default-address{
  height: 50px;
  width: 350px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.progress{
  float: right;
  margin-top: 57px;
  &__upper{
    display: flex;
    font-size: 12px;
    &__title{
      margin-right: 40px;
      &__red{
        color: #EA352D;
        margin-right: 40px;
      }
      &__long{
        margin-right: 50px;
        &__red{
          color: #EA352D;
          margin-right: 50px;
        }
      }
      &__short{
        margin-right: 30px;
        color: yellow;
        &__red{
          color: #EA352D;
          margin-right: 30px;
        }
      }
      &__longer{
        margin-right:65px ;
        &__red{
          color: #EA352D;
          margin-right: 65px;
        }
      }
    }
  }
  &__lower{
    display: flex;
    margin-top: 15px;
    padding-left: 18px;
    &__circle{
      width: 12px;
      height: 12px;
      border-radius: 12px 12px 12px 12px ;
      background-color: #888888;
      &__red{
        width: 12px;
        height: 12px;
        border-radius: 12px 12px 12px 12px ;
        background-color: #EA352D;
      }
    }
      &__bar{
        width: 100px;
        height: 3px;
        background-color: #888888;
        margin-top: 5px;
        &__red{
          width: 100px;
          height: 3px;
          background-color: #EA352D;
          margin-top: 5px;
        }
      }
  }
}

.credit-right{
  margin-top: 10px;
}

.select-default-credit{
width: 100px;
height: 50px;
background-color: #fff;
border: 1px solid #ccc;
}

.form-require-sub{
  background-color: #ccc;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}