.setting-mypage{
  padding: 64px;
  font-size: 14px;
}

.mypage-info{
  font-size: 14px;
  &__4{
    float: right;
  }
 
}

.mypage-form{
  margin-top: 40px;
  .mypage-form label{
    font-weight: 600;
  }
}
.mypage-input-text{
  height: 50px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.mypage-input-address{
  height: 50px;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
}

.mypage-form-submit{
  background-color:  #ea352d;
  display: table-cell;
  vertical-align: middle;
  color: white;
  border-radius: 4px;
  height: 50px;
  width: 600px;
  text-align: center;
  
}

.side{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  .mypage-nav-list-item {
    position: relative;
    display: block;
    min-height: 48px;
    padding: 16px;
    background: #fff;
    font-size: 14px;
    color: #333;
    .fa-chevron-right {
      position: absolute;
      top: 50%;
      right: 16px;
      color: #ccc;
      transform: translate(0, -50%);
      transition: all ease-out .2s;
      float: right;
    }
    .mypage-nav-number {
      position: absolute;
      top: 50%;
      right: 32px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #ea352d;
      text-align: center;
      line-height: 24px;
      color: #fff;
      transform: translate(0, -50%);
    }
  }
  .fa-chevron-right {
    top: 50%;
    right: 16px;
    color: #ccc;
    transform: translate(-16px, -35px);
    transition: all ease-out .2s;
    float: right;
    z-index: 1;
  }
  .mypage-nav-head {
    margin: 40px 4% 0;
    font-size: 16px;
    display: block;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
}

