.default.container{
  background-color:  rgb(239, 239, 239);
  margin: 0;
  padding: 0;
  padding-top: 10px;
}
  .u_container {
    @include clearfix;
    margin: 40px auto 0;
    width: 1020px;
    padding: 0 0 40px;
    .content {
      float: right;
      width: 700px;
      .chapter-container {
        background: #fff;
        .chapter-head {
          font-size: 24px;
          padding: 8px 24px;
          border-bottom: 1px solid #f5f5f5;
          text-align: center;
          line-height: 1.4;
          margin-inline-start: 0px;
          font-weight: bold;;
        }
          .setting-profile-icon {
            padding: 72px 16px 24px;
            background: skyblue;
            background-repeat: no-repeat;
            background-size: cover;
            text-align: center;
            font-size: 0;
            .user-icon{
              border-radius: 50%;
              vertical-align: middle;
            }
            .input-default{
              width: 220px;
              margin: 0 0 0 8px;
              vertical-align: middle;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.5;
              font-size: 16px;
            }
          }
          .setting-profile-content{
            padding: 40px 16px;
            .textarea-default{
              min-height: 216px;
              display: block;
              width: 100%;
              max-width: 100%;
              padding: 10px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
              line-height: 1.5;
              border-radius: 0;
              outline: 0;
              -webkit-appearance: none;
            }
            .btn-default.btn-red{
              margin: 16px 0 0;
            }
            .btn-default{
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              border: 1px solid transparent;
              -webkit-transition: all ease-out .3s;
              transition: all ease-out .3s;
              cursor: pointer;
              text-align: center;
            }
            .btn-red{
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
            }
          }
      }
    }
    .side{
      float: left;
      width: 280px;
      margin: 0 40px 0 0;
      .mypage-nav-list-item {
        position: relative;
        display: block;
        min-height: 48px;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        .fa-chevron-right {
          position: absolute;
          top: 50%;
          right: 16px;
          color: #ccc;
          transform: translate(0, -50%);
          transition: all ease-out .2s;
          float: right;
        }
        .mypage-nav-number {
          position: absolute;
          top: 50%;
          right: 32px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background: #ea352d;
          text-align: center;
          line-height: 24px;
          color: #fff;
          transform: translate(0, -50%);
        }
      }
      .fa-chevron-right {
        top: 50%;
        right: 16px;
        color: #ccc;
        transform: translate(-16px, -35px);
        transition: all ease-out .2s;
        float: right;
        z-index: 1;
      }
      .mypage-nav-head {
        margin: 40px 4% 0;
        font-size: 16px;
        display: block;
        margin-block-start: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    }
  }